.blogs-page {
    .container {
        display: flex;
        gap: 2rem;
        padding-block: 3rem;
        .blogs-navigation {
            width: 16rem;
            height: 70vh;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h2 {
                font-size: 1.3rem;
                font-weight: 900;
                text-transform: capitalize;
                color: $dark-color;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                li {
                    padding: 0.3rem;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                    display: flex;
                    align-items: center;
                    color: rgba($color: $dark-color, $alpha: 0.6);
                    a {
                        color: rgba($color: $dark-color, $alpha: 0.6);
                        transition: 0.3s;
                        &.active {
                            color: rgba($color: $main-color, $alpha: 0.8);
                        }
                    }
                    svg {
                        font-size: 1rem;
                        transition: 0.3s;
                    }
                    &:hover {
                        a,
                        svg {
                            color: $main-color;
                        }
                        svg {
                            animation: arrow-move 0.3s alternate infinite both linear;
                        }
                    }
                }
            }
        }
        section.blogs-container {
            flex-grow: 1;
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            .blog-card {
                width: calc((100% - 2rem) / 3);
            }
        }
    }
}

@keyframes arrow-move {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(-0.2rem);
    }
}


@media(max-width:499px){
    .blogs-page {
        .container {
            .blogs-navigation {
                display: none;
            }
            section.blogs-container {
                justify-content: center;
                .blog-card {
                    width: 300px;
                }
            }
        }
    }
}
@media(min-width:500px){
    .blogs-page {
        .container {
            .blogs-navigation {
                display: none;
            }
            section.blogs-container {
                justify-content: flex-start;
                .blog-card {
                    width: calc((100% - 1rem) / 2);
                }
            }
        }
    }
}
@media(min-width:768px){
    .blogs-page {
        .container {
            .blogs-navigation {
                display: flex;
                width: 14rem;
            }
        }
    }
}
@media(min-width:1024px){
    .blogs-page {
        .container {
            section.blogs-container {
                .blog-card {
                    width: calc((100% - 2rem) / 3);
                }
            }
        }
    }
}
@media(min-width:1350px){
    .blogs-page {
        .container {
            .blogs-navigation {
                width: 16rem;
            }
        }
    }
}