header {
    .nav-menu-box {
        padding: 1rem;
        width: 20rem;
        background-color: $dark-color;
        color: #FFF;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 3;
        overflow-y: auto;
        transition: 1s;
        &.hidden {
            left: -40rem;
            opacity: 0;
        }
        &.show {
            left: 0rem;
            opacity: 1;
        }
        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3rem;
            .logo {
                a {
                    color: #FFF;
                }
                .anime-logo {
                    display: inline-flex;
                }
                .logo-name {
                    font-family: $sub-font;
                    color: $main-color;
                    &:hover {
                        animation: rotate-logo 2s alternate 2;
                    }
                }
            }
            .icon {
                svg {
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
        &-content {
            .mobile-menu {
                display: flex;
                flex-direction: column;
                li {
                    padding: 1rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    & > div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &:hover {
                            button {
                                background-color: #FFF;
                                color: $dark-color;
                            }
                        }
                        button {
                            background-color: transparent;
                            color: #FFF;
                            font-size: 1.2rem;
                            border: 1px solid #fff2;
                            padding: 6px;
                            border-radius: 6px;
                            transition: 0.3s;
                            &:hover {
                                background-color: #FFF;
                                color: $dark-color;
                            }
                        }
                    }
                }
                li:not(:last-child) {
                    border-bottom:1px solid #fff2 ;
                }
                .sub-menu {
                    display: none;
                    &.open {
                        display: block;
                    }
                }
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #FFF;
                    
                }
            }
        }
    }
}