.cart-product {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0003;
    position: relative;
    &-image {
        width: 150px;
        img {
            width: 100%;
        }
    }
    &-name {
        text-transform: capitalize;
    }
    &-price {
        color: $offer-color;
    }
    .in-stock {
        color: $main-color;
    }
    .out-of-stock {
        color: $error-color;
    }
    .quantity-btns {
        display: flex;
        gap: 2px;
        span {
            display: inline-block;
            background-color: #eee;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            width: 3rem;
            &:nth-of-type(2) {
                width: 4rem;
            }
        }
    }
    button {
        padding: 10px 20px;
        background-color: $dark-main-color;
        color: #fff;
    }
    svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $error-color;
        cursor: pointer;
        font-size: 2rem;
    }
}
.cart-product-menu {
    padding-inline: 1rem;
    margin-block: 10px;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    border-bottom: 1px solid #0003;
    &-image {
        width: 100px;
        img {
            width: 100%;
        }
    }
    &-name {
        text-transform: capitalize;
    }
    &-price {
        color: $offer-color;
    }
    &-heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    svg {
        font-size: 1.5rem;
        position: absolute;
        top: 10px;
        right: 10px;
        color: $error-color;
        cursor: pointer;
    }
}
